.books{
    background-color: #D9D9D9;
    padding: 50px;
    
    
    
}


.bok1{
    margin-left: 450px;
    font-size: 50px;
}

.card h1{
    margin-top: 30px;
    margin-left: 30px;
}

.btn1{
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: larger;
    background-color: #B7292C;
    
}

.btn1:hover{
    background-color: green;
}

.see{
    text-align: center;
    font-family: cursive;
    cursor: pointer;
    color: black;
    
}


.see:hover{
    color: green;
}

.se a{
    list-style: none;
    text-decoration: none;
}






.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  
}

.card1 {
  background-color: white;
  width: 300px;
  height: 450px;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 100px;
}




.card1 h2 {
  font-size: 22px;
  margin: 10px 0;
  font-weight: bold;
}

.card1 p {
  font-size: 20px;

  margin-top: 5px;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 2px 2px black;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(17, 10, 77);
}



.card2{
    background-color: white;
  width: 300px;
  height: 450px;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 100px;
}